<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PropertyFramework</display-name>
	<servlet>
		<display-name>MainServlet</display-name>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FamiliesServlet</display-name>
		<servlet-name>FamiliesServlet</servlet-name>
		<servlet-class>FamiliesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FamiliesServlet</servlet-name>
		<url-pattern>/FamiliesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteFamilyServlet</display-name>
		<servlet-name>DeleteFamilyServlet</servlet-name>
		<servlet-class>DeleteFamilyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFamilyServlet</servlet-name>
		<url-pattern>/DeleteFamilyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditFamilyServlet</display-name>
		<servlet-name>EditFamilyServlet</servlet-name>
		<servlet-class>EditFamilyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditFamilyServlet</servlet-name>
		<url-pattern>/EditFamilyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddFamilyServlet</display-name>
		<servlet-name>AddFamilyServlet</servlet-name>
		<servlet-class>AddFamilyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFamilyServlet</servlet-name>
		<url-pattern>/AddFamilyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>StylesServlet</display-name>
		<servlet-name>StylesServlet</servlet-name>
		<servlet-class>StylesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StylesServlet</servlet-name>
		<url-pattern>/StylesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteStyleServlet</display-name>
		<servlet-name>DeleteStyleServlet</servlet-name>
		<servlet-class>DeleteStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStyleServlet</servlet-name>
		<url-pattern>/DeleteStyleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditStyleServlet</display-name>
		<servlet-name>EditStyleServlet</servlet-name>
		<servlet-class>EditStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStyleServlet</servlet-name>
		<url-pattern>/EditStyleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddStyleServlet</display-name>
		<servlet-name>AddStyleServlet</servlet-name>
		<servlet-class>AddStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStyleServlet</servlet-name>
		<url-pattern>/AddStyleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ClassesServlet</display-name>
		<servlet-name>ClassesServlet</servlet-name>
		<servlet-class>ClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassesServlet</servlet-name>
		<url-pattern>/ClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteClassServlet</display-name>
		<servlet-name>DeleteClassServlet</servlet-name>
		<servlet-class>DeleteClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassServlet</servlet-name>
		<url-pattern>/DeleteClassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditClassServlet</display-name>
		<servlet-name>EditClassServlet</servlet-name>
		<servlet-class>EditClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditClassServlet</servlet-name>
		<url-pattern>/EditClassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddClassServlet</display-name>
		<servlet-name>AddClassServlet</servlet-name>
		<servlet-class>AddClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassServlet</servlet-name>
		<url-pattern>/AddClassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ClassStylesServlet</display-name>
		<servlet-name>ClassStylesServlet</servlet-name>
		<servlet-class>ClassStylesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassStylesServlet</servlet-name>
		<url-pattern>/ClassStylesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteClassStyleServlet</display-name>
		<servlet-name>DeleteClassStyleServlet</servlet-name>
		<servlet-class>DeleteClassStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassStyleServlet</servlet-name>
		<url-pattern>/DeleteClassStyleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditClassStyleServlet</display-name>
		<servlet-name>EditClassStyleServlet</servlet-name>
		<servlet-class>EditClassStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditClassStyleServlet</servlet-name>
		<url-pattern>/EditClassStyleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddClassStyleServlet</display-name>
		<servlet-name>AddClassStyleServlet</servlet-name>
		<servlet-class>AddClassStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassStyleServlet</servlet-name>
		<url-pattern>/AddClassStyleServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<display-name>ObjectsServlet</display-name>
		<servlet-name>ObjectsServlet</servlet-name>
		<servlet-class>ObjectsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectsServlet</servlet-name>
		<url-pattern>/ObjectsServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<display-name>DeleteObjectServlet</display-name>
		<servlet-name>DeleteObjectServlet</servlet-name>
		<servlet-class>DeleteObjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteObjectServlet</servlet-name>
		<url-pattern>/DeleteObjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddObjectServlet</display-name>
		<servlet-name>AddObjectServlet</servlet-name>
		<servlet-class>AddObjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddObjectServlet</servlet-name>
		<url-pattern>/AddObjectServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<display-name>ObjectsByClassServlet</display-name>
		<servlet-name>ObjectsByClassServlet</servlet-name>
		<servlet-class>ObjectsByClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectsByClassServlet</servlet-name>
		<url-pattern>/ObjectsByClassServlet</url-pattern>
	</servlet-mapping>
			<servlet>
		<display-name>ObjectsByNameServlet</display-name>
		<servlet-name>ObjectsByNameServlet</servlet-name>
		<servlet-class>ObjectsByNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectsByNameServlet</servlet-name>
		<url-pattern>/ObjectsByNameServlet</url-pattern>
	</servlet-mapping>
</web-app>